
services:
  mariadb:
    image: mariadb:inception
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    env_file:
      - .env
    restart: unless-stopped

  wordpress:
    image: wordpress:inception
    build: ./requirements/wordpress
    container_name: wordpress
    networks:
      - inception
    env_file:
      - .env
    restart: unless-stopped


  nginx:
    image: nginx:inception
    build: ./requirement/nginx
    container_name: nginx
    networks:
      - inception
    env_file:
      - .env
    ports:
      - 443:443
    restart: unless-stopped


networks:
  inception:
    name: inception


volumes:
  # mariadb:
  # wordpress: